<div class="container">
  <div class="form_type">
    <h1>Loại người dùng</h1>
    <div class="row">
      <div div class="col borders">
        <a routerLink="/admin/dashboard">
          <div>
            <img src="../assets/images/admin.png" alt="" class="image_items" />
            <p>Admin</p>
          </div>
        </a>
      </div>

      <div class="col">
        <a routerLink="/login">
          <div>
            <img
              src="../assets/images/user.png"
              alt=""
              class="image_items changes"
            />
            <p>User</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
