<div *ngIf="nguoiDung">
  <h1>Ghi danh người dùng theo khóa học</h1>
  <!-- 
  <div *ngFor="let user of nguoiDung">
    <p>
      Tài khoản: <strong>{{ user.taiKhoan }}</strong>
    </p>
    <p>
      Họ tên: <strong>{{ user.hoTen }}</strong>
    </p>
    <p>
      Số điện thoại: <strong> {{ user.soDt }}</strong>
    </p>
  </div> -->

  <button
    mat-raised-button
    color="primary"
    routerLink="/admin/dashboard/users/list"
    class="goback"
  >
    Quay lại danh sách
  </button>

  <mat-tab-group animationDuration="0ms">
    <mat-tab label="HỌC VIÊN CHỜ GHI DANH">
      <div class="table_box">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="text-align: center">STT</th>
              <th
                class="mdl-data-table__cell--non-numeric"
                [class.active]="order === 'maKhoaHoc'"
                (click)="setOrder('maKhoaHoc')"
              >
                MÃ KHÓA HỌC

                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
                <span class="hover_span">▲</span>
              </th>

              <th
                [class.active]="order === 'tenKhoaHoc'"
                (click)="setOrder('tenKhoaHoc')"
              >
                TÊN KHÓA HỌC <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
                <span class="hover_span">▲</span>
              </th>

              <th style="text-align: center">THAO TÁC</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let khoaHoc of danhSachKhoaHocChoXetDuyet
                  | paginate: { itemsPerPage: 5, currentPage: p }
                  | orderBy: order:reverse;
                index as i
              "
              class="this_is"
            >
              <td style="text-align: center" class="lines">
                <p>
                  {{ i + 1 }}
                </p>
              </td>

              <td class="account">
                <p>
                  {{ khoaHoc.maKhoaHoc }}
                </p>
              </td>

              <td class="name">
                <p>{{ khoaHoc.tenKhoaHoc }}</p>
              </td>

              <td class="control">
                <div class="letdothis">
                  <button
                    mat-raised-button
                    color="accent"
                    class="mr-2 accept"
                    (click)="accept(khoaHoc)"
                  >
                    Chấp nhận
                  </button>

                  <button
                    mat-raised-button
                    color="warn"
                    class="refuse"
                    (click)="refuse(khoaHoc)"
                  >
                    <span>Từ chối</span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls
          (pageChange)="p = $event"
          previousLabel="Trước"
          nextLabel="Sau"
        ></pagination-controls>
      </div>
    </mat-tab>
    <mat-tab label="HỌC VIÊN ĐÃ GHI DANH">
      <div class="table_box_2">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="text-align: center">STT</th>
              <th
                class="mdl-data-table__cell--non-numeric"
                [class.active]="order === 'maKhoaHoc'"
                (click)="setOrder1('maKhoaHoc')"
              >
                MÃ KHÓA HỌC

                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
                <span class="hover_span">▲</span>
              </th>

              <th
                [class.active]="order === 'tenKhoaHoc'"
                (click)="setOrder1('tenKhoaHoc')"
              >
                TÊN KHÓA HỌC <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
                <span class="hover_span">▲</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let khoaHoc of danhSachKhoaHocDaXetDuyet
                  | paginate: { itemsPerPage: 5, currentPage: p1 }
                  | orderBy: order:reverse;
                index as i
              "
              class="this_is"
            >
              <td style="text-align: center" class="lines">
                <p>
                  {{ i + 1 }}
                </p>
              </td>

              <td class="account">
                <p>
                  {{ khoaHoc.maKhoaHoc }}
                </p>
              </td>

              <td class="name">
                <p>{{ khoaHoc.tenKhoaHoc }}</p>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls
          (pageChange)="p = $event"
          previousLabel="Trước"
          nextLabel="Sau"
        ></pagination-controls>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
