::ng-deep.ngx-pagination.ng-star-inserted {
  .pagination-previous {
    display: none !important;
  }

  .pagination-next {
    display: none !important;
  }
}

::ng-deep.active {
  color: #3f51b5c2 !important;
  background-color: unset !important;
}

p {
  font-size: 12px;
  margin: 0;
}
.user_edit {
  .user_editable {
    border-bottom: 1px solid #757778;
    h4 {
      padding: 16px 24px 0px 24px;
      margin: 0;

      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      color: #29303b;
      display: block;
      font-weight: 700;
      font-size: 27px;
    }

    p {
      padding: 7px 24px;
    }
  }
}

.no_course {
  padding: 20px 0;
  p {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: red;
  }
}

.signup_course {
  .table_set {
    padding: 20px 30px 0 30px;
    table {
      width: 100%;
      box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
        0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
      thead {
        tr {
          border: 1px solid black;
        }
      }

      thead th {
        cursor: pointer;
        margin-right: 15px;
        margin-left: 15px;
        font-size: 14.5px;

        &:hover {
          .hover_span {
            opacity: 1;
            transition: 0.75s;
          }
        }

        span {
          visibility: hidden;
          display: none;
        }

        &.active {
          color: #000;

          span {
            visibility: visible;
            display: initial;
          }
          .hover_span {
            display: none;
          }
        }

        .hover_span {
          visibility: visible;
          display: initial;
          opacity: 0;
          // transition: 0.75s;
        }
      }

      tbody {
        tr {
          .img {
            img {
              width: 150px;
              height: 84px;
              border: 1px solid #bbbcbd;
            }
          }

          .info {
            .row {
              margin: 0;
              width: 249px;

              button {
                background-color: #3f90b5;
                font-size: 12px;
              }

              p {
                margin: auto 0 auto 10px;
                font-size: 16px;
                font-weight: 700;
              }
            }

            p {
              margin: 10px 0 0;
              font-size: 14px;
              font-weight: 300;
            }
          }

          .name {
            p {
              width: 140px;
              margin: auto;
              text-align: center;
              font-size: 14px;
            }
          }

          .delete {
            .del_but {
              width: 64px;
              margin: auto;
              button {
                font-size: 12px;
                padding: 0 6px;
              }
            }
          }
        }
      }
    }

    .table thead th {
      border-bottom: unset;
    }

    .table td,
    .table th {
      border-top: unset;
      vertical-align: middle;
    }
  }
}

@media (max-width: 1200.5px) {
  .signup_course {
    .table_set {
      padding: 20px 30px 0 30px;
      table {
        tbody {
          tr {
            .img {
              img {
                width: 130px;
                height: 73px;
                border: 1px solid #bbbcbd;
              }
            }

            .info {
              .row {
                margin: 0;
                width: 230px;

                button {
                  background-color: #3f90b5;
                  font-size: 11px;
                  padding: 0 6px;
                }

                p {
                  margin: auto 0 auto 10px;
                  font-size: 14px;
                  font-weight: 700;
                }
              }

              p {
                margin: 6px 0 0;
                font-size: 13px;
                font-weight: 300;
              }
            }

            .name {
              p {
                width: 111px;
                margin: auto;
                text-align: center;
                font-size: 12px;
              }
            }

            .delete {
              .del_but {
                width: 64px;
                margin: auto;

                button {
                  font-size: 11px;
                  padding: 0 6px;
                }
              }
            }
          }
        }
      }

      .table td,
      .table th {
        padding: 8px;
      }
    }
  }
}

@media (max-width: 992.5px) {
  .signup_course {
    .table_set {
      padding: 20px 15px 0 15px;
      table {
        thead {
          th {
            font-size: 12.5px;
          }
        }

        tbody {
          tr {
            .img {
              img {
                width: 100px;
                height: 56px;
              }
            }

            .info {
              .row {
                margin: 0;
                width: 185px;

                button {
                  min-width: 47px;

                  font-size: 10px;
                  padding: 0 1px;
                  line-height: 30px;
                }

                p {
                  margin: auto 0 auto 10px;
                  font-size: 12px;
                  font-weight: 700;
                }
              }

              p {
                margin: 6px 0 0;
                font-size: 11px;
                font-weight: 300;
              }
            }

            .name {
              p {
                width: 98px;
                margin: auto;
                text-align: center;
                font-size: 12px;
              }
            }

            .delete {
              .del_but {
                width: 47px;
                margin: auto;

                button {
                  min-width: 47px;
                  font-size: 10px;
                  padding: 0 1px;
                  line-height: 30px;
                }
              }
            }
          }
        }
      }

      .table td,
      .table th {
        padding: 7px 5px;
      }
    }
  }
}

@media (max-width: 576.5px) {
  .signup_course {
    .table_set {
      padding: 20px 15px 0 15px;
      table {
        thead {
          th {
            font-size: 12.5px;
          }

          .name {
            display: none;
          }
        }

        tbody {
          tr {
            .img {
              img {
                width: 100px;
                height: 56px;
              }
            }

            .name {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480.5px) {
  .signup_course {
    .table_set {
      padding: 20px 9px 0 9px;
      table {
        thead {
          th {
            font-size: 11.5px;
          }
        }

        tbody {
          tr {
            .img {
              img {
                width: 80px;
                height: 45px;
              }
            }

            .info {
              .row {
                margin: 0;
                width: 163px;

                button {
                  min-width: 39px;
                  font-size: 9px;
                  padding: 0 1px;
                  line-height: 26px;
                }

                p {
                  margin: auto 0 auto 4px;
                  font-size: 11px;
                  font-weight: 700;
                }
              }

              p {
                margin: 4px 0 0;
                font-size: 10px;
                font-weight: 300;
              }
            }

            .delete {
              .del_but {
                width: unset;
                margin: auto;

                button {
                  min-width: 39px;
                  font-size: 9px;
                  padding: 0 1px;
                  line-height: 26px;
                }
              }
            }
          }
        }
      }

      .table td,
      .table th {
        padding: 7px 5px;
      }
    }
  }
}

@media (max-width: 375.5px) {
  .signup_course {
    .table_set {
      padding: 20px 9px 0 9px;
      table {
        thead {
          th {
            font-size: 10.5px;
          }
        }

        tbody {
          tr {
            .img {
              img {
                width: 70px;
                height: 39px;
              }
            }

            .info {
              .row {
                margin: 0;
                width: 140px;

                button {
                  min-width: 34px;
                  font-size: 8px;
                  padding: 0 1px;
                  line-height: 22px;
                }

                p {
                  margin: auto 0 auto 2px;
                  font-size: 9.5px;
                }
              }

              p {
                margin: 4px 0 0;
                font-size: 9px;
                font-weight: 300;
              }
            }

            .delete {
              .del_but {
                width: unset;
                margin: auto;

                button {
                  min-width: 34px;
                  font-size: 8px;
                  padding: 0 1px;
                  line-height: 22px;
                }
              }
            }
          }
        }
      }

      .table td,
      .table th {
        padding: 6px 3px;
      }
    }
  }
}

@media (max-width: 300px) {
  .user_edit {
    .user_editable {
      h4 {
        font-size: 23px;
      }
    }
  }

  .signup_course {
    .table_set {
      padding: 20px 5px 0 5px;
      table {
        thead {
          th {
            font-size: 9px;
          }
        }

        tbody {
          tr {
            .img {
              img {
                width: 60px;
                height: 34px;
              }
            }

            .info {
              .row {
                margin: 0;
                width: 134px;

                button {
                  min-width: 32px;
                  font-size: 7px;
                  padding: 0 1px;
                  line-height: 19px;
                }

                p {
                  margin: auto 0 auto 2px;
                  font-size: 9px;
                }
              }

              p {
                margin: 2px 0 0;
                font-size: 8.5px;
                font-weight: 300;
              }
            }

            .delete {
              .del_but {
                width: unset;
                margin: auto;

                button {
                  min-width: 32px;
                  font-size: 7px;
                  padding: 0 1px;
                  line-height: 19px;
                }
              }
            }
          }
        }
      }

      .table td,
      .table th {
        padding: 5px ​2px;
      }
    }
  }
}
