<div class="footer-basic">
  <footer>
    <div class="social">
      <a routerLink="/" class="small_margin">
        <img src="../assets/images/logo.png" alt=""
      /></a>
    </div>

    <div class="row one">
      <div class="policy">
        <h4>Chính sách và quy định</h4>
        <ul>
          <li><a href="">Thỏa thuận sử dụng</a></li>
          <li><a href="">Quy chế hoạt động</a></li>
          <li><a href="">Chính sách bảo mật</a></li>
          <li><a href="">Quyền lợi thành viên</a></li>
        </ul>
      </div>
      <div class="link">
        <h4>Liên kết</h4>
        <div class="row">
          <button mat-raised-button color="primary" class="facebook">
            <a href="https://www.facebook.com/">
              <img src="../assets/images/icon/fb-icon.png" alt="" />
            </a>
          </button>
          <button mat-raised-button color="warn" class="youtube">
            <a href="https://www.youtube.com/">
              <img src="../assets/images/icon/yt-icon.png" alt="" />
            </a>
          </button>
          <button mat-raised-button color="accent" class="github">
            <a href="https://github.com/">
              <img src="../assets/images/icon/gh-icon.png" alt="" />
            </a>
          </button>
          <button mat-raised-button class="reddit">
            <a href="https://www.reddit.com/">
              <img src="../assets/images/icon/r-icon.png" alt="" />
            </a>
          </button>
        </div>
      </div>
      <div class="contact">
        <h4>Liên hệ</h4>
        <ul>
          <li class="row">
            <img src="../assets/images/icon/mail-icon.png" alt="" />
            <p>vanlexxxx@gmial.com</p>
          </li>
          <li class="row">
            <img src="../assets/images/icon/phone.png" alt="" />
            <p>09691768xx</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="row second">
      <div class="certificate">
        <a href="https://moit.gov.vn/">
          <img src="../assets/images/icon/bocongthuong.png" alt="" />
        </a>
      </div>
      <div class="copyright">
        <p>SẢN PHẨM ĐƯỢC TẠO BỞI TNBL</p>
        <p>ĐỊA CHỈ: THÀNH PHỐ TÂY NINH, TÂY NINH</p>
        <p>2021 © Copery Elearning ALL RIGHT RESERVED</p>
      </div>
    </div>
  </footer>
</div>
