<div class="introduce">
  <div class="center_div">
    <h1>Về mình</h1>
    <p>Về <b>Copery</b> elearning</p>
  </div>
</div>

<div class="welcome">
  <div class="content">
    <h1>Chào mừng</h1>
    <p>
      Mình là tay mơ trong viết web và mình cố gắng để cải thiện khả năng của
      mình
    </p>
    <img src="../assets/images/about-welcome.jpg" alt="" class="image_quote" />
  </div>

  <div class="about_me row">
    <div class="few_word">
      <div class="words">
        <p>
          Xin chào các bạn đang theo dõi trang web này, mình là TNBL (tên viết
          tắt). Dự án này khiến cả 1 mảng tóc mình bạc hi vọng những gì nó thể
          hiện xứng đáng với điều đó.
        </p>
        <p>
          Copery là viết tắt của 2 chữ <b>Copy</b> và <b>Erase</b>, đúng như
          phần lớn những gì mình làm trong web này : D
        </p>

        <p>
          UI mình tham khảo dự án của các anh khóa trên, các bạn có thể xem
          video dự án của các anh ngay bên cạnh.
        </p>
      </div>
    </div>
    <div class="awesome_youtube row">
      <div class="mosh_reactjs">
        <iframe
          src="https://www.youtube.com/embed/Ke90Tje7VS0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="mosh_angular">
        <iframe
          src="https://www.youtube.com/embed/Nr6FdfxrC_w"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>

  <div class="about_myselft">
    <h1>Thực hiện dự án</h1>
    <p>Khó khăn nhưng rất bổ ích</p>
    <div class="content row">
      <div class="image_avarta">
        <img src="../assets/images/avarta-info.jpg" alt="" />
      </div>
      <div class="hard_days">
        <div class="mywords">
          <h1>TNBL</h1>
          <p>Sinh viên trái ngành</p>
          <p>Tự tin một chút về tiếng Anh</p>
          <p>Ngại giao tiếp</p>
          <p>Phấn đấu vì những người thân, gia đình, thầy cô, bạn bè,...</p>
          <p>Mong ước là trở thành người có đóng góp cho xã hội</p>
          <p>THÓI QUEN - SỰ ĐIỀU CHỈNH - Ý CHÍ</p>
        </div>
      </div>
    </div>
  </div>

  <div class="work_place">
    <h1>Nơi làm việc</h1>
    <p>Thành phố Tây Ninh - Tỉnh Tây Ninh</p>
    <div class="items row">
      <div class="work_map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4652.379799453075!2d106.10772194974781!3d11.32231892369771!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310b6bb4f678935d%3A0xaf0096c0ba0468fa!2sTay%20Ninh%20High%20School!5e0!3m2!1sen!2s!4v1626954545922!5m2!1sen!2s"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>

      <div class="work_image">
        <img src="../assets/images/about-work.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51)" size="large"> </ngx-spinner>
