.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  background-color: #218838;
}

.mat-button.mat-accent,
.mat-icon-button.mat-accent,
.mat-stroked-button.mat-accent {
  color: #218838;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 12px 0;
}

::ng-deep.mat-form-field-infix {
  border-top: 5px solid transparent;
}

::ng-deep.mat-form-field-wrapper {
  padding-bottom: 17px;
}

::ng-deep.mat-form-field-subscript-wrapper {
  font-size: 71%;
  margin-top: 0px;
  top: calc(100% - 14px);
}

//set width cho dialog
::ng-deep.cdk-overlay-pane {
  width: 500px;
}

.mat-form-field {
  width: 100%;
  margin: 0 auto;
}

.mat-radio-button {
  margin: 11px 13px;
}

//đổi màu border radio
::ng-deep.mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: #218838;
}

//đổi màu radio

::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #218838;
}

::ng-deep.mat-dialog-container {
  padding: 0;
}

.mat-hint {
  color: #f44336;
}

.container {
  padding: 0;
  .box-shadow {
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
      0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
  }

  h3 {
    text-align: center;
    margin: 0;
    padding: 18px 64px;
    border-bottom: solid 1px #dedfe0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #29303b;
    display: block;
    font-weight: 700;
    font-size: 25px;
  }

  .form-padding.row {
    padding: 18px 24px;
    width: 100%;
    margin: 0;

    .form-group {
      width: 50%;
      margin-bottom: 0;
      padding: 0 7px;
    }

    .form-group.description {
      width: 100%;

      mat-form-field {
        textarea {
          height: 50px;
        }
      }
    }

    .form-group.image {
      width: 70%;
      input {
        box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%),
          0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
        padding: 6px 11px;
        border-radius: 4px;
        width: 100%;
      }
    }

    .form-group.nickname {
      width: 100%;
    }

    .button_div.row {
      padding-top: 20px;
      //   padding-left: 24px;
      width: 100%;
      margin: 0;

      button {
        // width: 50%;
        margin: auto;
        // padding: 0 10px;
      }
    }
  }
}

@media (min-width: 1051px) {
  ::ng-deep.mat-select-panel:not([class*="mat-elevation-z"]) {
    width: 280px !important;
    min-width: calc(56% + 32px) !important;
  }

  ::ng-deep.cdk-overlay-pane {
    transform: translateX(-6px) translateY(-9px) !important;
    // width: 219px !important;
  }
}

@media (max-width: 1050px) {
  ::ng-deep.cdk-overlay-container {
    .cdk-overlay-connected-position-bounding-box {
      .cdk-overlay-pane.mat-datepicker-popup {
        width: 294px !important;
      }
    }
  }

  ::ng-deep.mat-select-panel:not([class*="mat-elevation-z"]) {
    width: 280px !important;
    min-width: calc(56% + 32px) !important;
  }

  ::ng-deep.cdk-overlay-pane {
    transform: translateX(-6px) translateY(-9px) !important;
    // width: 219px !important;
  }
}

@media (max-width: 950px) {
  //   .cdk-overlay-connected-position-bounding-box {
  //     .cdk-overlay-pane {
  //       justify-content: flex-end !important;
  //     }
  //   }

  #cdk-overlay-1 {
    background-color: black;
  }

  .cdk-overlay-container,
  .cdk-global-overlay-wrapper {
    justify-content: flex-end;
  }

  ::ng-deep.cdk-overlay-container {
    .cdk-overlay-connected-position-bounding-box {
      .cdk-overlay-pane.mat-datepicker-popup {
        width: 294px !important;
      }
    }
  }

  ::ng-deep.mat-select-panel:not([class*="mat-elevation-z"]) {
    width: 260px !important;
    min-width: calc(56% + 32px) !important;
  }

  ::ng-deep.cdk-overlay-pane {
    transform: translateX(-6px) translateY(-9px) !important;
    // width: 219px !important;
  }
}

@media (max-width: 768.5px) {
  .container {
    .form-padding.row {
      padding: 18px 13px;
    }
  }

  ::ng-deep.mat-select-panel:not([class*="mat-elevation-z"]) {
    width: 249px !important;
    min-width: calc(56% + 32px) !important;
  }

  ::ng-deep.cdk-overlay-pane {
    transform: translateX(-6px) translateY(-9px) !important;
    // width: 219px !important;
  }
}
@media (max-width: 576.5px) {
  .container {
    .form-padding.row {
      padding: 18px 7px;
      font-size: 13px;
      .button_div.row {
        button {
          width: 100%;
          margin-bottom: 15px !important;
        }
      }

      .form-group.image {
        width: 100%;
      }
    }

    h3 {
      padding: 10px 19px;
      font-size: 22px;
    }
  }

  ::ng-deep.mat-select-panel:not([class*="mat-elevation-z"]) {
    width: 219px !important;
    min-width: calc(56% + 32px) !important;
  }

  ::ng-deep.cdk-overlay-pane {
    transform: translateX(-6px) translateY(-9px) !important;
    // width: 219px !important;
  }
}

@media (max-width: 500px) {
  ::ng-deep.mat-select-panel:not([class*="mat-elevation-z"]) {
    min-width: calc(40% + -10px) !important ;
  }

  .mat-datepicker-content .mat-calendar {
    justify-content: flex-end;
  }
}

@media (max-width: 450px) {
  .mat-hint {
    font-size: 9px;
  }
  ::ng-deep.mat-form-field-subscript-wrapper {
    top: calc(100% - 16px);
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 10px 0;
  }

  .container {
    .form-padding.row {
      padding: 7px;
      .form-group {
        font-size: 12px;
      }
    }
  }

  ::ng-deep.cdk-overlay-container
    .cdk-overlay-connected-position-bounding-box
    .cdk-overlay-pane.mat-datepicker-popup {
    left: 17% !important;
  }

  ::ng-deep.mat-select-panel:not([class*="mat-elevation-z"]) {
    width: 119px !important;
  }

  ::ng-deep.cdk-overlay-pane {
    transform: translateX(-6px) translateY(-9px) !important;
  }
}

@media (max-width: 375px) {
  .mat-hint {
    font-size: 7px;
  }
  ::ng-deep.mat-form-field-subscript-wrapper {
    top: calc(100% - 16px);
  }

  ::ng-deep.mat-datepicker-content .mat-calendar {
    width: 219px !important;
    height: 250px !important;
  }

  ::ng-deep.mat-calendar-body-cell-content.mat-focus-indicator {
    font-size: 11px;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 8px 0;
  }

  .container {
    .form-padding.row {
      padding: 7px;
      .form-group {
        font-size: 10px;
      }
    }
  }

  ::ng-deep.cdk-overlay-container
    .cdk-overlay-connected-position-bounding-box
    .cdk-overlay-pane.mat-datepicker-popup {
    left: 21% !important;
  }

  ::ng-deep.cdk-overlay-container {
    .cdk-overlay-connected-position-bounding-box {
      .cdk-overlay-pane.mat-datepicker-popup {
        width: 219px !important;
      }
    }
  }

  ::ng-deep.mat-select-panel:not([class*="mat-elevation-z"]) {
    width: 119px !important;
  }

  ::ng-deep.cdk-overlay-pane {
    transform: translateX(-6px) translateY(-9px) !important;
  }
}
