<div class="container" *ngIf="adminName">
  <p>TỔNG QUAN</p>
  <h1>Thông tin tài khoản</h1>
  <div class="row">
    <div class="user_info">
      <div class="user_box">
        <div class="first_content">
          <img
            src="../assets/images/admin.png"
            alt=""
            class="image_items changes"
          />
          <h4>{{ adminName.taiKhoan }}</h4>
          <h5>{{ adminName.email }}</h5>
        </div>
        <div class="second_content">
          <p>Loại người dùng: {{ adminName.maLoaiNguoiDung }}</p>
        </div>
        <div class="third_content">
          <h5>Mô tả</h5>
          <div class="description_content">
            <p><strong>Họ tên:</strong> {{ adminName.hoTen }}</p>
            <p><strong>Số điện thoại:</strong> {{ adminName.soDT }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="user_edit">
      <div class="user_editable">
        <h4>Cập nhật tài khoản</h4>
        <form
          #EditUserForm="ngForm"
          (ngSubmit)="editUser(EditUserForm.value)"
          class="signup_form"
        >
          <div class="form-padding">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Tài khoản</mat-label>
                <input
                  matInput
                  placeholder="Ex: gacon123"
                  name="taiKhoan"
                  minlength="7"
                  maxlength="15"
                  pattern="^[a-zA-Z0-9]*$"
                  required
                  [(ngModel)]="adminName.taiKhoan"
                  #TaiKhoan="ngModel"
                  disabled
                />
                <mat-error
                  *ngIf="
                    TaiKhoan.errors && (TaiKhoan.dirty || TaiKhoan.touched)
                  "
                >
                  <mat-hint *ngIf="TaiKhoan.errors.required"
                    >Vui lòng điền ô</mat-hint
                  >
                  <mat-hint
                    *ngIf="TaiKhoan.errors.minlength || TaiKhoan.errors.pattern"
                  >
                    Phải trên 7 ký tự và đúng định dạng
                  </mat-hint>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Mật khẩu</mat-label>
                <input
                  matInput
                  placeholder="Ex: gaconxyz@123"
                  name="matKhau"
                  minlength="7"
                  maxlength="15"
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  required
                  [(ngModel)]="adminName.matKhau"
                  #MatKhau="ngModel"
                />
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <mat-error
                  *ngIf="MatKhau.errors && (MatKhau.dirty || MatKhau.touched)"
                >
                  <mat-hint *ngIf="MatKhau.errors.required"
                    >Nhập mật khẩu</mat-hint
                  >
                  <mat-hint *ngIf="MatKhau.errors.minlength">
                    Nhập trên 7 ký tự
                  </mat-hint>

                  <mat-hint *ngIf="MatKhau.errors.maxlength">
                    Nhập dưới 15 ký tự
                  </mat-hint>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Họ tên</mat-label>
                <input
                  matInput
                  placeholder="Ex: Gà Con"
                  name="hoTen"
                  #HoTen="ngModel"
                  minlength="4"
                  matInput
                  [pattern]="
                    '^[a-zA-Z_ÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶ' +
                    'ẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợ' +
                    'ụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\\s]+$'
                  "
                  required
                  [(ngModel)]="adminName.hoTen"
                />
                <mat-error
                  *ngIf="HoTen.errors && (HoTen.dirty || HoTen.touched)"
                >
                  <mat-hint *ngIf="HoTen.errors.required">Nhập họ tên</mat-hint>
                  <mat-hint
                    *ngIf="HoTen.errors.minlength || HoTen.errors.pattern"
                  >
                    Nhập trên 4 ký tự và không có kí tự đặc biệt
                  </mat-hint>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input
                  #Email="ngModel"
                  matInput
                  placeholder="Ex: gacon123@yahoo.com"
                  name="email"
                  matInput
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                  required
                  [(ngModel)]="adminName.email"
                />
                <mat-error
                  *ngIf="Email.errors && (Email.dirty || Email.touched)"
                >
                  <mat-hint *ngIf="Email.errors.required">Nhập email</mat-hint>
                  <mat-hint *ngIf="Email.errors.pattern">
                    Nhập không có kí tự đặc biệt
                  </mat-hint>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Số điện thoại</mat-label>
                <input
                  matInput
                  placeholder="Ex: 0123456789"
                  name="soDT"
                  matInput
                  type="tel"
                  required
                  maxlength="10"
                  minlength="10"
                  #SoDT="ngModel"
                  [(ngModel)]="adminName.soDT"
                />
                <mat-error *ngIf="SoDT.errors && (SoDT.dirty || SoDT.touched)">
                  <mat-hint *ngIf="SoDT.errors.required"
                    >Nhập số điện thoại</mat-hint
                  >
                  <mat-hint
                    *ngIf="
                      SoDT.errors.pattern ||
                      SoDT.errors.minlength ||
                      SoDT.errors.maxlength
                    "
                  >
                    Nhập đủ 10 số và đúng định dạng
                  </mat-hint>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-group">
              <span>Loại người dùng</span>
              <mat-radio-group
                aria-label="Select an option"
                name="maLoaiNguoiDung"
                required
                [(ngModel)]="maLoaiNguoiDung"
              >
                <mat-radio-button
                  class="example-radio-button"
                  *ngFor="let user of usertype"
                  [value]="user"
                >
                  {{ user }}</mat-radio-button
                >
              </mat-radio-group>
            </div>

            <button
              mat-raised-button
              color="accent"
              type="submit"
              class="btn btn-success mr-2"
              [disabled]="!EditUserForm.valid"
            >
              Cập nhật tài khoản
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
